.right-main-container{
  height:calc(100vh - 50px);
  overflow: auto;
}

.d-flex{
 display: flex
}

.align-items-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

.flex-column{
  flex-direction: column
}

.justify-content-between{
  justify-content: space-between;
}

.expense-details-container{
  width: 85%;
}

.sidebar-main-container{
  width: 15%;
  height: calc(100vh - 50px);
  border: solid 1px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.1);
}


